.u-section-1 .u-sheet-1 {
  min-height: 679px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 901px;
  margin: 0 auto 60px;
}

.u-section-1 .u-image-1 {
  min-height: 619px;
  background-image: url("images/aa.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 14px 0;
}

.u-section-1 .u-group-1 {
  width: 512px;
  min-height: 366px;
  background-image: none;
  margin: 154px -481px 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px 30px 85px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 619px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  margin: 59px 26px 0;
}

.u-section-1 .u-text-2 {
  margin: 87px auto 0 54px;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  margin: 28px 43px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1 .u-image-1 {
    min-height: 551px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-image-1 {
    min-height: 499px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-image-1 {
    min-height: 660px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 626px;
  }

  .u-section-1 .u-image-1 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-right: 47px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 522px;
}

.u-section-2 .u-image-1 {
  width: 652px;
  height: 471px;
  margin: 18px auto 0 23px;
}

.u-section-2 .u-text-1 {
  margin: -395px 23px 0 693px;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 103px 103px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 516px;
  }

  .u-section-2 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 441px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 390px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 297px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 246px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 552px;
}

.u-section-3 .u-image-1 {
  width: 649px;
  height: 489px;
  margin: 31px auto 0 25px;
}

.u-section-3 .u-text-1 {
  margin: -402px 66px 0 745px;
}

.u-section-3 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 118px 100px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 611px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 391px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 407px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-left: 211px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 256px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 11px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 577px;
}

.u-section-4 .u-image-1 {
  width: 650px;
  height: 433px;
  margin: 49px auto 0 28px;
}

.u-section-4 .u-text-1 {
  margin: -383px 48px 0 668px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 100px 131px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-image-1 {
    height: 376px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 516px;
  }

  .u-section-4 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-left: 296px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 504px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 361px;
    margin-left: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 428px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 227px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 690px;
}

.u-section-5 .u-image-1 {
  width: 652px;
  height: 622px;
  margin: 34px auto 0 29px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  margin: -513px 74px 0 auto;
}

.u-section-5 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 2.25rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 139px 89px 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 515px;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 392px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 324px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}
