.u-section-1 .u-sheet-1 {
  min-height: 102px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 20px auto;
  padding: 19px 43px 21px 41px;
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  margin: 44px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 2.25rem;
  margin: 43px 0 60px;
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  min-height: 100vh;
}

.u-section-3 .u-video-1 {
  width: 1229px;
}

.u-section-3 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 500px;
  }

  .u-section-3 .u-video-1 {
    width: calc(((100% - 1140px) / 2) + 620px);
    left: 470px;
    right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-video-1 {
    width: calc(((100% - 1140px) / 2) + 730px);
    left: 250px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 483px;
  }

  .u-section-3 .u-video-1 {
    width: calc(((100% - 1140px) / 2) + 790px);
    left: 100px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 100vh;
  }

  .u-section-3 .u-video-1 {
    width: calc(((100% - 1140px) / 2) + 1317px);
    left: -527px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 895px;
}

.u-section-4 .u-image-1 {
  width: 816px;
  height: 816px;
  margin: 60px auto 19px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 799px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 619px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 419px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }
}